/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.center{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

body{
	font-family: 'Poppins', sans-serif;
}

/* First container */
.container-first{
	background-color: #1c1e53;
}

.container-first header .menu ul{
	display: flex;
}

.container-first header .menu ul li a{
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: #bbbbcb;
	text-decoration: none;
	transition: 0.8s;
}

.container-first header .menu ul li a:hover{
	color: #fff;
}

.container-first header .menu ul li.first-link a{
	color: #fff;
}

.container-first header .menu ul li{
	margin-right: 32px;
}

.container-first header .menu ul li.contact-btn{
	margin-right: 0;
	margin-left: 16px;
}

.container-first header .menu ul li.contact-btn a{
	color: #fff;
	padding: 16px 48px;
	border: 2px solid rgba(244, 246, 252, 0.2);
	border-radius: 41px;
	transition: 0.8s;
}

.container-first header .menu ul li.contact-btn a:hover{
	color: #1c1e53;
	background-color: #fff;
}

.container-first header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 92px;
}

.container-first .head-content{
	display: grid;
	grid-template-columns: 582px 638px;
	column-gap: 60px;
	padding-top: 126px;
	padding-bottom: 128px;
}

.container-first .head-content .left-content h1{
	font-weight: 600;
	font-size: 54px;
	line-height: 137%;
	color: #fff;
	margin-bottom: 24px;
}

.container-first .head-content .left-content p{
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: rgba(255, 255, 255, 0.7);
	padding-right: 20px;
	margin-bottom: 48px;
}

.container-first .head-content .left-content .btn-wrap .btn-work{
	font-family: 'Manrope', sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 178%;
	color: #1b1c2b;
	padding: 16px 56px;
	background-color: #fcd980;
	border-radius: 41px;
	text-decoration: none;
	display: inline-block;
	transition: 0.8s;
	margin-right: 40px;
}

.container-first .head-content .left-content .btn-wrap .btn-work:hover{
	background-color: #1b1c2b;
	color: #fcd980;
}

.container-first .head-content .left-content .btn-wrap .btn-price{
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: #fff;
	text-decoration: none;
}

.container-first .head-content .left-content .btn-wrap .btn-price span{
	margin-left: 16px;
	font-size: 24px;
}

.container-first .head-content .right-content{
	align-self: center;
}

.container-first .head-content .right-content img{
	width: 100%;
	max-width: 100%;
}

/* Work container */
.container-work{
	background-color: #f4f6fc;;
}

.container-work .center{
	display: flex;
	justify-content: space-between;
	padding: 128px 72px 128px 6px;
}

.container-work .center .work-info{
	width: 405px;
}

.container-work .center .work-info h3{
	font-weight: 600;
	font-size: 48px;
	line-height: 133%;
	color: #282938;
}

.container-work .center .work-info p{
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	color: #282938;
	opacity: 0.7;
	margin-top: 16px;
}

.container-work .center .work-info a{
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 178%;
	color: #2405F2;
	margin-top: 16px;
}

.container-work .center .work-info a span{
	margin-left: 16px;
	font-size: 24px;
}

.container-work .center .work-process{
	display: grid;
    grid-template-columns: 328px 328px;
    grid-template-rows: 178px 178px;
    row-gap: 48px;
}

.container-work .center .work-process h4{
	font-weight: 500;
	font-size: 32px;
	line-height: 150%;
	color: #282938;
	margin-top: 16px;
}

.container-work .center .work-process p{
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	color: #282938;
	opacity: 0.7;
	margin-top: 16px;
	margin-right: 25px;
}

/* Projects container */
.container-projects{
	margin-top: 128px;
	margin-bottom: 128px;
}

.container-projects .head-info h3{
	font-weight: 600;
	font-size: 48px;
	line-height: 133%;
	color: #282938;
}

.container-projects .head-info a{
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: #282938;
	text-decoration: none;
	justify-self: end;
	align-self: center;
}

.container-projects .head-info a span{
	margin-left: 16px;
	font-size: 24px;
}

.container-projects .head-info{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.container-projects .projects{
	display: grid;
	grid-template-columns: 843px 405px;
	grid-template-rows: 284px 284px;
	column-gap: 32px;
	row-gap: 32px;
	margin-top: 64px;
}

.container-projects .projects .first-item{
	grid-row: 1 / span 2;
	position: relative;
}

.container-projects .projects .first-item .project-info{
	width: 396px;
	height: 100%;
	background: linear-gradient(329.39deg, #1c1e53 -10.96%, rgba(28, 30, 83, 0.42) 103.90%);
	position: absolute;
	top: 0;
	left: 0;
}

.container-projects .projects div .project-info h4{
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	color: #fff;
}

.container-projects .projects div.first-item .project-info h4{
	padding-top: 312px;
	padding-left: 48px;
	padding-right: 35px;
}

.container-projects .projects div.first-item .project-info p{
	padding-top: 16px;
	padding-left: 48px;
	padding-right: 55px;
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: rgba(255, 255, 255, 0.8);
}

.container-projects .projects div .project-info a{
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: #fcd980;
}

.container-projects .projects div .project-info a span{
	margin-left: 16px;
	font-size: 24px;
}

.container-projects .projects div.first-item .project-info a{
	display: inline-block;
	padding-left: 48px;
	padding-top: 40px;
}

.container-projects .projects div.second-item,
.container-projects .projects div.third-item{
	position: relative;
}

.container-projects .projects div.second-item .project-info,
.container-projects .projects div.third-item .project-info {
	background: linear-gradient(329.39deg, #1c1e53 -10.96%,rgba(28, 30, 83, 0.42) 103.90%);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.8s;
}

.container-projects .projects div.second-item:hover .project-info,
.container-projects .projects div.third-item:hover .project-info{
	opacity: 1;
}

.container-projects .projects div.second-item .project-info h4,
.container-projects .projects div.third-item .project-info h4{
	padding: 129px 36px 10px 56px;
	width: 240px;
}

.container-projects .projects div.second-item .project-info a,
.container-projects .projects div.third-item .project-info a{
	margin-left: 56px;
}

.container-projects .projects div > img{
	width: 100%;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Features container */
.container-features{
	background-color: #F4F6FC;
}

.container-features .center{
	padding: 128px 0;
}

.container-features .center .feature-top p{
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: #282938;
	margin-bottom: 12px;
	text-align: center;
}

.container-features .center .feature-top h2{
	font-weight: 600;
	font-size: 48px;
	line-height: 133%;
	color: #282938;
	text-align: center;
	width: 630px;
	margin: 0 auto;
}

.container-features .center .feature-items{
	display: grid;
    width: 100%;
    grid-template-columns: 405px 405px 405px;
    grid-template-rows: 316px 316px;
    column-gap: 32px;
    row-gap: 24px;
	margin-top: 47px;
}

.container-features .center .feature-items div{
	background-color: #fff;
	padding: 48px 32px 48px 48px;
}

.container-features .center .feature-items div h6{
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	color: #282938;
	margin-top: 23px;
}

.container-features .center .feature-items div p{
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	color: #282938;
	opacity: 0.7;
	margin-top: 12px;
}

/* Comments container */
.container-comments{
	background-color: rgba(244, 246, 252, 0.5);
	padding: 128px 0;
}

.container-comments .box-comments{
	display: grid;
	grid-template-columns: 327px 843px;
	column-gap: 110px;
}

.container-comments .box-comments .about-comments h3{
	font-weight: 600;
	font-size: 38px;
	line-height: 147%;
	color: #282938;
	margin-bottom: 16px;
}

.container-comments .box-comments .about-comments p{
	font-size: 16px;
	line-height: 175%;
	color: rgba(40, 41, 56, 0.7);
}

.container-comments .box-comments .slider{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.container-comments .box-comments .slider > p{
	grid-column: 1 / span 2;
	font-weight: 500;
	font-size: 32px;
	line-height: 150%;
	color: #282938;
	margin-bottom: 48px;
}

.container-comments .box-comments .slider .author{
	display: grid;
	grid-template-columns: 52px 183px;
	column-gap: 14px;
	grid-template-rows: 56px;
}

.container-comments .box-comments .slider .author img{
	max-width: 100%;
	width: 100%;
	border-radius: 50%;
}

.container-comments .box-comments .slider .author .info .name{
	font-weight: 500;
	font-size: 18px;
	line-height: 178%;
	color: #282938;
}

.container-comments .box-comments .slider .author .info .more-info{
	font-weight: 500;
	font-size: 12px;
	line-height: 150%;
	color: #282938;
}

.container-comments .box-comments .slider .buttons .left-btn,
.container-comments .box-comments .slider .buttons .right-btn{
	display: inline-grid;
	background-color: #fff;
	width: 48px;
	height: 48px;
	justify-items: center;
	align-items: center;
	border-radius: 50%;
}

.container-comments .box-comments .slider .buttons .right-btn{
	background-color: #5239fa;
	margin-left: 10px;
}

.container-comments .box-comments .slider .buttons{
	justify-self: end;
	align-self: end;
}

/* Questions container */
.container-questions{
	padding: 128px 0;
}

.container-questions .questions-info{
	display: grid;
	grid-template-columns: 328px 846px;
	column-gap: 109px;
}

.container-questions .questions-info .left-side h3{
	font-weight: 600;
	font-size: 38px;
	line-height: 147%;
	color: #282938;
	margin-bottom: 16px;
}

.container-questions .questions-info .left-side p{
	font-weight: 500;
	font-size: 18px;
	line-height: 178%;
	color: rgba(36, 5, 242, 0.87);
}

.container-questions .questions-info .right-side .questions-item{
	display: grid;
	grid-template-columns: 111px 624px 111px;
	border-bottom: 2px solid #ececf1;
	margin-bottom: 32px;
	padding-bottom: 16px;
}

.container-questions .questions-info .right-side .questions-item:last-child{
	border-bottom: none;
}

.container-questions .questions-info .right-side .questions-item .counter{
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	color: #2405F2;
	margin-left: 28px;
}

.container-questions .questions-info .right-side .questions-item .question-info h5{
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	color: #282938;
	margin-bottom: 16px;
}

.container-questions .questions-info .right-side .questions-item .question-info p{
	font-weight: 500;
	font-size: 18px;
	line-height: 178%;
	color: rgba(40, 41, 56, 0.87);
	padding-bottom: 32px;
}

.container-questions .questions-info .right-side .questions-item .question-info p.answer-hide{
	display: none;
}

.container-questions .questions-info .right-side .questions-item .plus{
	justify-self: end;
	line-height: 36px;
}

/* Building container */
	.container-building{
		display: grid;
		grid-template-columns: 656px 624px;
	}

	.container-building .left-info{
		background-image: url(../images/building.png);
		background-position: center;
		background-size: cover;
	}

	.container-building .left-info .content {
		background-color: rgba(28, 30, 83, 0.5);
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container-building .left-info .content h3{
		padding-top: 96px;
		font-weight: 600;
		font-size: 54px;
		line-height: 137%;
		color: #fff;
		max-width: 464px;
		width: 100%;
	}

	.container-building .left-info .content p{
		padding-top: 24px;
		font-weight: 500;
		font-size: 16px;
		line-height: 175%;
		color: #fff;
		max-width: 464px;
		width: 100%;
	}

	.container-building .right-info{
		background-color: #1C1E53;
		padding-bottom: 48px;
	}

	.container-building .right-info .inquiry h4{
		font-weight: 500;
		font-size: 32px;
		line-height: 150%;
		color: #fff;
		margin: 96px 96px 16px 96px;
	}

	.container-building .right-info .inquiry p{
		font-weight: 500;
		font-size: 16px;
		line-height: 175%;
		color: #F4F6FC;
		margin: 0 96px 40px 96px;
	}

	.container-building .right-info .inquiry form{
		display: grid;
    	grid-template-columns: 432px;
    	justify-content: center;
    	row-gap: 16px;
	}

	.container-building .right-info .inquiry form div input{
		background-color: #1C1E53;
		border: 1.50px solid rgba(255, 255, 255, 0.05);
		border-radius: 8px;
		width: 432px;
		height: 64px;
	}

	.container-building .right-info .inquiry form div input::placeholder{
		font-weight: 400;
		font-size: 16px;
		line-height: 175%;
		color: #F4F6FC;
		opacity: 0.5;
		padding-left: 36px;
	}

	.container-building .right-info .inquiry form button{
		border-radius: 41px;
		padding: 15px 51px;
		width: 432px;
		height: 64px;
		background: #FCD980;
		font-family: 'Monrope', sans-serif;
		font-weight: 600;
		font-size: 18px;
		line-height: 178%;
		color: #1b1c2b;
		margin-top: 23px;
	}

	.container-building .right-info .inquiry form .btn-wrap{
		text-align: center;
		margin-top: 12px;
	}

	.container-building .right-info .inquiry form .btn-wrap a{
		font-weight: 500;
		font-size: 18px;
		line-height: 178%;
		color: #fff;
		text-decoration: none;
	}

	.container-building .right-info .inquiry form .btn-wrap a span{
		margin-left: 12px;
		font-size: 24px;
	}

/* Blog container */
.container-blog{
	margin: 128px 0
}

.container-blog .blog-info h3{
	font-weight: 600;
	font-size: 48px;
	line-height: 133%;
	color: #282938;
	margin-bottom: 64px;
}

.container-blog .blog-info .posts-box{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 32px;
}

.container-blog .blog-info .posts-box .post img{
	max-width: 405px;
	width: 100%;
	max-height: 285px;
}

.container-blog .blog-info .posts-box .post img+p{
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: #282938;
	opacity: 0.7;
	margin-top: 40px;
}

.container-blog .blog-info .posts-box .post h4{
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	color: #282938;
	margin-top: 16px;
}

.container-blog .blog-info .posts-box .post p{
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	color: #282938;
	opacity: 0.7;
	margin-top: 16px;
}

.container-blog .blog-info .posts-box .post a{
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: #282938;
	margin-top: 32px;
	text-decoration: none;
}

.container-blog .blog-info .posts-box .post a span{
	margin-left: 12px;
	font-size: 24px;
}

/* Footer */
footer .footer-background{
	background-color: #1c1e53;
}

footer .footer-background .footer-top{
	padding-top: 96px;
    display: grid;
    grid-template-columns: 517px 1fr;
	column-gap: 141px;
}

footer .footer-background .footer-top .logo{
	margin-top: 4px;
	max-width: 399px;
    width: 100%;
}

footer .footer-background .footer-top .logo img{
	width: 156px;
	height: 38px;
}

footer .footer-background .footer-top .logo p{
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: #fff;
	opacity: 0.8;
	margin-top: 22px;
	margin-bottom: 86px;
}

footer .footer-background .footer-top .social{
	max-width: 400px;
	width: 100%;
}

footer .footer-background .footer-top .social h3{
	font-weight: 600;
	font-size: 48px;
	line-height: 133%;
	color: #fff
}

footer .footer-background .footer-top .social p{
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	color: #f4f6fc;
	opacity: 0.8;
	margin-top: 14px;
	margin-bottom: 28px;
}

footer .footer-background .footer-top .social .soc-links{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 144px;
}

footer .footer-background .footer-top .contacts{
	background-color: #fcd980;
	padding: 17px 0 16px 36px;
	display: grid;
    grid-template-columns: 181px 1fr;
    column-gap: 29px;
}

footer .footer-background .footer-top .contacts .mail h5,
footer .footer-background .footer-top .contacts .tel h5{
	font-weight: 500;
	font-size: 18px;
	line-height: 178%;
	color: #282938;
}

footer .footer-background .footer-top .contacts .mail p a,
footer .footer-background .footer-top .contacts .tel p a{
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	color: #282938;
	opacity: 0.8;
	text-decoration: none;
}

footer .footer-bottom{
	display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
	align-items: center;
	height: 92px;
}

footer .footer-bottom .menu{
	text-align: end;
}

footer .footer-bottom .menu ul{
	display: flex;
	justify-content: flex-end;
}

footer .footer-bottom .menu ul li{
	margin-right: 32px;
}

footer .footer-bottom .menu ul li:last-child{
	margin-right: 0px;
}

footer .footer-bottom .menu ul li a{
	font-weight: 500;
	font-size: 16px;
	line-height: 175%;
	color: #282938;
	text-decoration: none;
}



@media screen and (max-width: 1440px) {
	.container-work .center{
		padding-right: 0;
	}

	.container-features .center .feature-items{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

@media screen and (max-width: 1300px) {
	.center{
		width: 95%;
	}
	
	.container-first .head-content{
		grid-template-columns: 45% 50%;
		column-gap: 5%;
	}

	.container-projects .projects{
		grid-template-columns: 2fr 1fr;
		row-gap: 20px;
		column-gap: 20px;
	}

	.container-comments .box-comments{
		grid-template-columns: 30% 65%;
		column-gap: 5%;
	}

	.container-questions .questions-info{
		grid-template-columns: 30% 65%;
		column-gap: 5%;
	}

	.container-questions .questions-info .right-side .questions-item{
		grid-template-columns: 80px 75% 1fr;
	}

	.container-building{
		grid-template-columns: 1fr 1fr;
		width: 100%;
	}

	.container-building .left-info .content{
		padding-left: 2.5%;
	}

	.container-building .right-info{
		padding-right: 2.5%;
	}

	.container-building .right-info .inquiry h4{
		margin: 96px 10% 16px 10%;
	}

	.container-building .right-info .inquiry p{
		margin: 0 10% 40px 10%;
	}

	footer .footer-background .footer-top{
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 1024px) {
	.container-first header .menu{
		display: none;
	}

	.container-first .head-content .left-content h1{
		font-size: 40px;
	}
	
	.container-first .head-content .left-content .btn-wrap .btn-price{
		display: block;
		margin-left: 56px;
		margin-top: 25px;
	}

	.container-first .head-content{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.container-work .center{
		flex-wrap: wrap;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.container-work .center .work-info{
		margin-bottom: 20px;
		width: 100%;
	}

	.container-work .center .work-info h3{
		font-size: 32px;
	}

	.container-work .center .work-process{
		grid-template-columns: 1fr 1fr;
    	grid-template-rows: 1fr 1fr;
	}

	.container-projects .projects{
		grid-template-columns: 1fr 1fr;
		margin-top: 30px;
	}

	.container-projects .projects div.first-item .project-info h4{
		padding-top: 250px;
	}

	.container-projects .projects div.first-item .project-info{
		width: 100%;
	}

	.container-projects{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.container-projects .head-info h3{
		font-size: 32px;
	}

	.container-features .center{
		padding: 60px 0;
	}

	.container-features .center .feature-top h2{
		font-size: 32px;
	}

	.container-comments{
		padding: 50px 0;
	}

	.container-comments .box-comments .about-comments h3{
		font-size: 32px;
	}

	.container-comments .box-comments .slider > p{
		font-size: 24px;
	}

	.container-features .center .feature-items{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.container-questions{
		padding: 60px 0;
	}

	.container-questions .questions-info .left-side h3{
		font-size: 32px;
	}

	.container-questions .questions-info .right-side .questions-item .counter{
		margin-left: 15px;
	}

	.container-building .left-info .content h3{
		font-size: 32px;
	}

	.container-building .right-info .inquiry h4{
		font-size: 28px;
	}

	.container-building .right-info .inquiry form{
		grid-template-columns: 1fr;
		padding-left: 3%;
		padding-right: 3%;
	}

	.container-building .right-info .inquiry form div input,
	.container-building .right-info .inquiry form button{
		width: 100%;
	}

	.container-blog{
		margin: 60px 0;
	}

	.container-blog .blog-info h3{
		font-size: 32px;
		margin-bottom: 32px;
	}

	footer .footer-background .footer-top{
		padding-top: 60px;
		column-gap: 60px;
	}

	footer .footer-background .footer-top .social h3{
		font-size: 32px;
	}

	footer .footer-background .footer-top .contacts{
		grid-template-columns: 1fr 1fr;
		column-gap: 15px;
		padding: 16px;
	}

	footer .footer-background .footer-top .contacts .tel p a,
	footer .footer-background .footer-top .contacts .mail p a,
	footer .footer-bottom .menu ul li a{
		white-space: nowrap;
	}
	
}

@media screen and (max-width: 768px) {
	.container-first .head-content{
		grid-template-columns: 1fr;
	}

	.container-first .head-content .left-content{
		grid-row: 2;
		padding-top: 20px;
	}

	.container-projects .projects{
		grid-template-columns: 1fr;
	}

	.container-projects .projects div.first-item .project-info h4,
	.container-projects .projects div.second-item .project-info h4,
	.container-projects .projects div.third-item .project-info h4{
		padding-top: 80px;
		width: auto;
	}

	.container-comments .box-comments{
		grid-template-columns: 1fr;
	}

	.container-comments .box-comments .slider > p{
		margin-bottom: 15px;
	}

	.container-comments .box-comments .slider{
		padding-top: 30px;
	}

	.container-features .center{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.container-features .center .feature-top h2{
		width: 100%;
	}

	.container-questions .questions-info{
		grid-template-columns: 1fr;
	}

	.container-questions .questions-info .right-side{
		padding-top: 40px;
	}

	.container-blog{
		margin: 50px 0;
	}

	.container-blog .blog-info .posts-box{
		column-gap: 16px;
	}

	.container-blog .blog-info h3{
		margin-bottom: 32px;
	}

	.container-blog .blog-info .posts-box .post img+p{
		margin-top: 20px;
		font-size: 16px;
	}

	.container-blog .blog-info .posts-box .post h4{
		font-size: 18px;
	}

	.container-blog .blog-info .posts-box .post a{
		margin-top: 16px;
	}

	footer .footer-background .footer-top{
		grid-template-columns: 1fr;
	}

	footer .footer-background .footer-top .logo{
		max-width: 100%;
	}

	footer .footer-background .footer-top .logo p{
		margin-bottom: 16px;
	}

	footer .footer-background .footer-top .social{
		max-width: 100%;
	}
	
	footer .footer-background .footer-top .social .soc-links{
		margin-bottom: 16px;
	}

	footer .footer-bottom{
		grid-template-columns: 1fr;
	}

	footer .footer-bottom .menu{
		grid-row: 1;
	}

	footer .footer-bottom .menu ul{
		justify-content: space-between;
	}

	footer .footer-bottom .copyright{
		text-align: center;
	}

	footer .footer-bottom .copyright p{
		font-size: 12px;
	}
}

@media screen and (max-width: 600px) {
	.container-first .head-content .left-content h1{
		font-size: 32px;
	}

	.container-first .head-content .left-content p{
		margin-bottom: 30px;
	}

	.container-features .center .feature-items,
	.container-building{
		grid-template-columns: 1fr;
	}
	
	.container-building .left-info .content{
		padding: 50px 5%;
	}

	.container-building .left-info .content h3{
		padding-top: 0;
		max-width: 100%;
	}

	.container-building .left-info .content p{
		max-width: 100%;
	}

	.container-building .right-info{
		padding-right: 0;
		padding-bottom: 50px;
	}

	.container-building .right-info .inquiry h4{
		margin: 50px 5% 16px 5%;
	}

	.container-building .right-info .inquiry p{
		margin: 16px 5%;
	}

	.container-building .right-info .inquiry form{
		padding-left: 5%;
		padding-right: 5%;
	}

	.container-blog .blog-info .posts-box{
		grid-template-columns: 1fr;
	}

	.container-blog .blog-info .posts-box .post{
		margin-bottom: 32px;
	}

	.container-blog .blog-info .posts-box .post img{
		max-width: 100%;
		max-height: 100%;
	}

	footer .footer-bottom .menu ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		row-gap: 10px;
	}

	footer .footer-bottom .menu ul li{
		margin: 0;
	}
}

@media screen and (max-width:450px) {
	.container-first .head-content .left-content .btn-wrap .btn-work{
		margin-right: 0;
		width: 100%;
		padding: 16px 0;
		text-align: center;
	}

	.container-first .head-content .left-content .btn-wrap .btn-price{
		margin-left: 0;
		text-align: center;
	}

	.container-comments .box-comments .slider .buttons{
		grid-column: 1 / span 2;
		grid-row: 3;
		justify-self: center;
	}

	.container-comments .box-comments .slider > p{
		font-size: 20px;
	}

	.container-work .center .work-process{
		grid-template-columns: 1fr;
    	grid-template-rows: 1fr;
	}

	.container-work .center .work-process h4{
		display: inline-block;
		margin-left: 10px;
		margin-top: 0;
		vertical-align: top;
		font-size: 30px;
	}

	.container-work .center .work-info h3{
		font-size: 40px;
	}

	.container-work .center .work-info a{
		display: block;
		text-align: center;
	}

	.container-features .center .feature-items div{
		padding: 10px;
	}

	.container-features .center .feature-items div h6{
		display: inline-block;
		margin-left: 10px;
		font-size: 18px;
		margin-top: 0;
		vertical-align: super;
	}

	.container-features .center .feature-top h2{
		font-size: 35px;
	}

	.container-questions .questions-info .right-side .questions-item{
		grid-template-columns: 40px 75% 1fr;
	}

	.container-questions .questions-info .right-side .questions-item .counter{
		margin-left: 0;
		grid-row: 1;
		grid-column: 1;
	}

	.container-questions .questions-info .right-side .questions-item .question-info{
		grid-row: 2;
		grid-column: 1/4;
	}

	.container-questions .questions-info .right-side .questions-item .plus{
		grid-row: 1;
		grid-column: 3;
	}

	footer .footer-background .footer-top .contacts{
		grid-template-columns: 1fr;
	}
	
}